<template>
  <q-page class="Book">
    <div class="preAddBookmarkBox-wrapper"
         v-if="appStatus.isShowPreAddBookmarkWrapper">
      <div class="preAddBookmarkBox">
        <q-input filled
                 v-model="preAddBookmark.name"
                 label="Bookmark Name" />
        <q-input filled
                 v-model="preAddBookmark.url"
                 label="URL" />
        <q-input filled
                 v-model="preAddBookmark.tagsStr"
                 label="Tags (Optional)" />
        <q-btn label="Add Bookmark"
               color="positive"
               no-caps=""
               @click="addBookmark" />
        <ul>
          <li>Tags are separate by using "," (eg: one , two,three, Hello World)</li>
          <li>Tags with number will be ignored</li>
          <li>Tags with punctuation mark will be ignored</li>
          <li>Duplicated tags will be ignored</li>
        </ul>
        <q-btn fab
               class="close-fab"
               icon="clear"
               color="negative"
               @click="closePreAddBookmarkWrapper" />
      </div>
    </div>
    <div class="advanced-search-wrapper"
         v-if="appStatus.isShowAdvancedSearchWrapper">
      <div class="advanced-search-box">
        <div class="row">
          <q-input filled
                   v-model="appStatus.targetName"
                   label="Search By Name" />
        </div>
        <div class="row">
          <q-input filled
                   v-model="appStatus.targetTagsStr"
                   label="Search By Tags" />
          <ul>
            <li>Tags are separate by using "," (eg: one , two,three, Hello World)</li>
            <li>Tags with number will be ignored</li>
            <li>Tags with punctuation mark will be ignored</li>
            <li>Duplicated tags will be ignored</li>
          </ul>
        </div>
        <div class="row">
          <q-toggle v-model="appStatus.isSortDateAsc"
                    :label="appStatus.isSortDateAsc ? 'Oldest to Newest' : 'Newest to Oldest'"
                    @input="toogleIsSortDateAsc" />
          <q-toggle v-model="appStatus.isShowFavouriteOnly"
                    label="Only Show Favourite"
                    @input="toogleIsShowFavouriteOnly" />
        </div>
        <div class="row sort-name-row">
          <div class="text-body1">Sort Name: </div>
          <q-btn-toggle v-model="appStatus.sortName"
                        toggle-color="primary"
                        :options="sortNameOptions" />
        </div>
        <div class="row">
          <q-btn class="advanced-search-btn"
                 color="primary"
                 label="Search"
                 no-caps
                 @click="submitAdvancedSearch" />
        </div>

        <q-btn fab
               class="close-fab"
               icon="clear"
               color="negative"
               @click="closeAdvancedSearchWrapper" />
      </div>
    </div>
    <div class="row main-search-row">
      <div class="col-1"></div>
      <div class="col-10 search-col">
        <div class="row">
          <q-input outlined
                   v-model="appStatus.targetName"
                   label="Search By Name">
            <template v-slot:prepend>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
        <div class="row">
          <div class="col-4">
            <q-toggle v-model="appStatus.isSortDateAsc"
                      :label="appStatus.isSortDateAsc ? 'Oldest to Newest' : 'Newest to Oldest'"
                      @input="toogleIsSortDateAsc" />
          </div>
          <div class="col-4">
            <q-toggle v-model="appStatus.isShowFavouriteOnly"
                      label="Only Show Favourite"
                      @input="toogleIsShowFavouriteOnly" />
          </div>
          <div class="col-4 search-btns-col">
            <q-btn color="primary"
                   no-caps
                   label="Advanced Search"
                   @click="openAdvancedSearchWrapper" />
            <q-btn no-caps
                   color="primary"
                   label="Search"
                   @click="searchName(appStatus.targetName)" />
            <q-btn no-caps
                   color="primary"
                   label="Clear Search"
                   @click="clearSearch" />
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="bookmark-cards-wrapper">
      <div class="bookmark-card"
           v-for="bookmark in bookmarks"
           :key="bookmark.id">
        <div class="bookmark-card-name">{{bookmark.name}}</div>
        <!--<div class="bookmark-card-url">{{bookmark.url}}</div>-->
        <div class="bookmark-card-time">{{bookmark.createdTime | toTimeStr}}</div>
        <div class="bookmark-card-tags-wrapper">
          <q-badge color="blue"
                   class="tag-badge"
                   v-for="(tag, index) in bookmark.tags"
                   :key="index">
            {{tag}}
          </q-badge>
        </div>
        <div class="row buttons-row">
          <div class="col-12">
            <q-btn round
                   icon="delete"
                   color="negative"
                   text-color="white"
                   @click="deleteBookmark(bookmark.id)">
              <q-tooltip>Delete this bookmark</q-tooltip>
            </q-btn>
            <q-btn color="white"
                   round
                   text-color="grey-7"
                   icon="file_copy"
                   @click="copyToClipboard(bookmark.url)">
              <q-tooltip>Copy URL to clipboard</q-tooltip>
            </q-btn>
            <q-btn class="share-btn"
                   round
                   text-color="white"
                   icon="share"
                   @click="openWebpageInNewTab('https://www.facebook.com/sharer/sharer.php?u=' + bookmark.url)">
              <q-tooltip>Share to Facebook</q-tooltip>
            </q-btn>
            <q-btn round
                   :icon="bookmark.isFavourite ? 'favorite' : 'favorite_border'"
                   color="white"
                   :text-color="bookmark.isFavourite ? 'red-13' : 'grey-7'"
                   @click="toogleFavourite(bookmark.id, bookmark.isFavourite)">
              <q-tooltip>{{bookmark.isFavourite ? 'Cancel' : 'Add to'}} Favourite</q-tooltip>
            </q-btn>
            <q-btn color="positive"
                   label="Go"
                   @click="openWebpageInNewTab(bookmark.url)">
              <q-tooltip>Go to "{{bookmark.name}}"</q-tooltip>
            </q-btn>
          </div>
        </div>
      </div>
    </div>
    <q-page-sticky position="bottom-right"
                   :offset="[18, 18]">
      <q-btn fab
             icon="add"
             color="primary"
             @click="openPreAddBookmarkWrapper">
        <q-tooltip>Add new bookmark</q-tooltip>
      </q-btn>
    </q-page-sticky>
  </q-page>
</template>

<style lang="sass" scoped>
.Book
  display: flex
  justify-content: center
  flex-direction: column
.preAddBookmarkBox-wrapper, .advanced-search-wrapper
  height: 100vh
  background-color: rgba(0, 0, 0, 0.6)
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  width: 100%
  z-index: 100
  top: 0px
.preAddBookmarkBox, .advanced-search-box
  background-color: white
  width: 50%
  height: 70%
  padding: 30px
  border-radius: 10px
  position: relative
  .q-input
    margin-bottom: 15px
.advanced-search-box
  height: 80%
  .row
    .q-input
      width: 100%
.sort-name-row
  display: block
.close-btn
  position: absolute
  bottom: 18px
  right: 18px
.bookmark-cards-wrapper
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
.bookmark-card
  width: 40%
  background-color: white
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  margin-top: 10px
  margin-bottom: 10px
  padding: 10px
  border-radius: 10px
.close-fab
  position: absolute
  bottom: 18px
  right: 18px
.buttons-row
  .col-12
    display: flex
    justify-content: flex-end
    .q-btn
      margin-top: 10px
      margin-left: 10px
.bookmark-card-name
  color: $grey-10
  font-size: 2rem
  font-weight: 700
.bookmark-card-url, .bookmark-card-time
  color: $grey-7
  font-size: 0.5rem
.tag-badge
  margin: 2px
.search-col
  .row
    width: 100%
.share-btn
  background-color: #2d88ff
.main-search-row
  position: sticky
  top: 50px
  z-index: 50
  background-color: white
.advanced-search-btn
  margin-top: 20px
.search-btns-col
  .q-btn
    margin-left: 5px
    margin-right: 5px
</style>

<script>
// TODOs:
// remove duplicate tags
import { mapActions, mapGetters } from "vuex";
import db from "boot/firebaseInit";

export default {
  name: "Book",
  data() {
    return {
      tempText: "Hello World!",
      sortNameOptions: [
        { label: "Ascending", value: "asc" },
        { label: "Close", value: "close" },
        { label: "Descending", value: "desc" }
      ],
      appStatus: {
        isShowPreAddBookmarkWrapper: false,
        isShowFavouriteOnly: false,
        isSortDateAsc: false,
        sortName: "close",
        targetName: "",
        isShowAdvancedSearchWrapper: false,
        targetTagsStr: ""
      },
      preAddBookmark: {
        name: "",
        url: "",
        tagsStr: ""
      }
    };
  },
  computed: {
    ...mapGetters(["userInfo", "userDoc", "bookmarks"])
  },
  filters: {
    toTimeStr(time) {
      let timeStr = "";

      if (time === undefined) return "0";
      timeStr += time.year;
      timeStr += "/";
      timeStr += time.month < 10 ? "0" + time.month : time.month;
      timeStr += "/";
      timeStr += time.date < 10 ? "0" + time.date : time.date;
      timeStr += " - ";
      timeStr += time.hours < 10 ? "0" + time.hours : time.hours;
      timeStr += ":";
      timeStr += time.minutes < 10 ? "0" + time.minutes : time.minutes;
      timeStr += ":";
      timeStr += time.seconds < 10 ? "0" + time.seconds : time.seconds;
      return timeStr;
    }
  },
  methods: {
    ...mapActions([
      "setBookmarks",
      "toogleIsSortDateAsc",
      "toogleIsShowFavouriteOnly",
      "searchName",
      "clearQuery",
      "advancedSearch"
    ]),
    noScroll() {
      window.scrollTo(0, 0);
    },
    disableScroll() {
      window.addEventListener("scroll", this.noScroll);
    },
    enableScroll() {
      window.removeEventListener("scroll", this.noScroll);
    },
    openPreAddBookmarkWrapper() {
      this.appStatus.isShowPreAddBookmarkWrapper = true;
      //this.disableScroll();
    },
    closePreAddBookmarkWrapper() {
      this.appStatus.isShowPreAddBookmarkWrapper = false;
      this.clearPreAddBookmarkWrapper();
      //this.enableScroll();
    },
    openAdvancedSearchWrapper() {
      this.appStatus.isShowAdvancedSearchWrapper = true;
      //this.disableScroll();
    },
    closeAdvancedSearchWrapper() {
      this.appStatus.isShowAdvancedSearchWrapper = false;
      // this.clearPreAddBookmarkWrapper();
      //this.enableScroll();
    },
    clearPreAddBookmarkWrapper() {
      this.preAddBookmark = {
        name: "",
        url: "",
        tagsStr: ""
      };
    },
    addBookmark() {
      console.log("addBookmark");
      // split by ",", clear space, clear empty tag
      // eg: " cute , kpop , fun, dance queen, anime    " ==> ["cute", "kpop", "fun", "dance queen", "anime"]
      const isBookmarkNameEmpty =
        this.preAddBookmark.name === "" ||
        this.preAddBookmark.name.split(" ").filter(part => part === "")
          .length === this.preAddBookmark.name.split(" ").length;
      const isBookmarkUrlEmpty =
        this.preAddBookmark.url === "" ||
        this.preAddBookmark.url.split(" ").filter(part => part === "")
          .length === this.preAddBookmark.url.split(" ").length;

      if (isBookmarkNameEmpty) {
        alert("Bookmark Name should not be empty");
      } else if (isBookmarkUrlEmpty) {
        alert("Bookmark URL should not be empty");
      } else {
        const temp = this.preAddBookmark.tagsStr
          .split(",")
          .map(tag => tag.split(" "))
          .map(tagArray => tagArray.filter(tag => tag !== ""))
          .map(tagArray => {
            let tag = tagArray[0];

            if (tagArray.length > 1) {
              for (let i = 1; i < tagArray.length; i++) {
                tag += " " + tagArray[i];
              }
            }
            return tag;
          })
          .filter(tag => !!tag)
          .filter(tag => !tag.match(/\d/g))
          .filter(tag => !tag.match(/[.,\/#!$%\^&\*;:{}@=\-_`~()'"]/g));

        // createdTime
        const currentDate = new Date();
        const createdTime = {
          year: currentDate.getFullYear(),
          month: currentDate.getMonth() + 1,
          date: currentDate.getDate(),
          day: currentDate.getDay(),
          hours: currentDate.getHours(),
          minutes: currentDate.getMinutes(),
          seconds: currentDate.getSeconds()
        };

        this.userDoc
          .collection("bookmarks")
          .add({
            userID: this.userInfo.id,
            name: this.preAddBookmark.name,
            url: this.preAddBookmark.url,
            tags: this.clearDuplicateItems(temp), // clear duplicate tags
            isFavourite: false,
            createdTime
          })
          .then(docRef => {
            console.log("Bookmark added");
            console.log("docRef", docRef);
          })
          .catch(err => {
            console.error(err);
          });
        this.closePreAddBookmarkWrapper();
      }
    },
    clearDuplicateItems(a) {
      const setA = new Set(a);

      return [...setA];
    },
    fetchBookmarks() {
      console.log("fetchBookmarks init");
      this.userDoc.collection("bookmarks").onSnapshot(querySnapshot => {
        console.log("fetchBookmarks . . . ");
        const bookmarksBuffer = [];

        querySnapshot.forEach(doc => {
          bookmarksBuffer.push({
            ...doc.data(),
            id: doc.id
          });
        });
        this.setBookmarks(bookmarksBuffer);
      });
    },
    openWebpageInNewTab(url) {
      window.open(url, "_blank");
    },
    toogleFavourite(bookmarkID, preIsFavourite) {
      console.log("tooggleFavourite");
      console.log("bookmarkID", bookmarkID);
      this.userDoc
        .collection("bookmarks")
        .doc(bookmarkID)
        .update({
          isFavourite: !preIsFavourite
        });
    },
    clearSearch() {
      console.log("clearSearch");
      this.appStatus.targetName = "";
      this.appStatus.isSortDateAsc = false;
      this.appStatus.isShowFavouriteOnly = false;
      this.appStatus.sortName = "close";
      this.appStatus.targetTagsStr = "";
      // dispatch empty name to vuex will clear the search name in vuex
      this.clearQuery();
    },
    deleteBookmark(bookmarkID) {
      this.userDoc
        .collection("bookmarks")
        .doc(bookmarkID)
        .delete()
        .then()
        .catch(err => {
          console.error(err);
        });
    },
    submitAdvancedSearch() {
      this.advancedSearch({
        targetName: this.appStatus.targetName,
        targetTagsStr: this.appStatus.targetTagsStr,
        sortName: this.appStatus.sortName
      });
      this.closeAdvancedSearchWrapper();
    },
    copyToClipboard(text) {
      navigator.clipboard.writeText(text).then(
        function() {
          console.log("Async: Copying to clipboard was successful!");
        },
        function(err) {
          console.error("Async: Could not copy text: ", err);
        }
      );
      alert(`Copied ${text} to clipboard`);
    }
  },
  created() {
    console.log("Book.vue created");
    this.fetchBookmarks();
    /** 
    this.userDoc
      .collection("bookmarks")
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
          console.log(doc.data());
        });
      })
      .catch(err => {
        console.log(err);
      });
    **/
  }
};
</script>