<template>
  <q-page class="PageIndex">
    <!--<div class="text-h1 title-label">Bookmarker</div>-->
    <div class="row forms-row">
      <div class="col-6">
        <q-form class="registration-form"
                @submit="submitRegistrationForm">
          <div class="text-h3">Sign Up</div>
          <q-input v-model="registData.username"
                   filled
                   type="text"
                   hint=" "
                   placeholder="User Name"
                   :rules="[val => !!val || 'Field is required']">
            <template v-slot:prepend>
              <q-icon name="account_circle" />
            </template>
          </q-input>
          <q-input v-model="registData.email"
                   filled
                   type="email"
                   hint=" "
                   placeholder="Email"
                   :rules="[val => !!val || 'Field is required']">
            <template v-slot:prepend>
              <q-icon name="email" />
            </template>
          </q-input>
          <q-input v-model="registData.password"
                   filled
                   :type="registData.isShowPassword ? 'text' : 'password'"
                   hint=" "
                   placeholder="Password"
                   :rules="[
                      val => !!val || 'Field is required'
                    ]">
            <template v-slot:prepend>
              <q-icon name="lock" />
            </template>
            <template v-slot:append>
              <q-icon :name="registData.isShowPassword ? 'visibility' : 'visibility_off'"
                      class="cursor-pointer"
                      @click="registData.isShowPassword = !registData.isShowPassword" />
            </template>
          </q-input>
          <q-input v-model="registData.confirmingPassword"
                   filled
                   :type="registData.isShowConfirmingPassword ? 'text' : 'password'"
                   hint=" "
                   placeholder="Confirm Password"
                   :rules="[
                      val => !!val || 'Field is required', 
                      val => {return val === this.registData.password || 'Passwords do not match'}
                    ]">
            <template v-slot:prepend>
              <q-icon name="lock" />
            </template>
            <template v-slot:append>
              <q-icon :name="registData.isShowConfirmingPassword ? 'visibility' : 'visibility_off'"
                      class="cursor-pointer"
                      @click="registData.isShowConfirmingPassword = !registData.isShowConfirmingPassword" />
            </template>
          </q-input>
          <div class="row">
            <div class="col-8">
              <ul>
                <li>Password length should be have 8 - 30 characters</li>
                <li>Password should contain uppercase character</li>
                <li>Password should contain lowercase character</li>
                <li>Password should contain 0 - 9 number character</li>
                <li>Password should not contain whitespace</li>
              </ul>
            </div>
            <div class="col-4">
              <q-btn class="signup-btn"
                     label="SIGN UP"
                     type="submit"
                     color="primary" />
            </div>
          </div>
        </q-form>
      </div>
      <div class="col-6">
        <q-form class="login-form"
                @submit="submitLoginForm">
          <div class="text-h3">Login</div>
          <q-input v-model="loginData.email"
                   filled
                   type="email"
                   hint=" "
                   placeholder="Email"
                   :rules="[val => !!val || 'Field is required']">
            <template v-slot:prepend>
              <q-icon name="email" />
            </template>
          </q-input>
          <q-input v-model="loginData.password"
                   filled
                   :type="loginData.isShowPassword ? 'text' : 'password'"
                   hint=" "
                   placeholder="Password"
                   :rules="[val => !!val || 'Field is required']">
            <template v-slot:prepend>
              <q-icon name="lock" />
            </template>
            <template v-slot:append>
              <q-icon :name="loginData.isShowPassword ? 'visibility' : 'visibility_off'"
                      class="cursor-pointer"
                      @click="loginData.isShowPassword = !loginData.isShowPassword" />
            </template>
          </q-input>

          <q-btn class="login-btn"
                 label="LOGIN IN"
                 type="submit"
                 color="primary" />
        </q-form>
      </div>
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.title-label
  text-align: center
.forms-row
  width: 100%
.col-6
  display: flex
  justify-content: center
.registration-form, .login-form
  width: 80%
  border-style: solid
  border-size: 5px
  margin-top: 20px
  padding: 10px
  .text-h3
    padding-bottom: 10px
.registration-form
  border-color: #ececec
  ul
    margin: 0px
.login-form
  border-color: #ececec
.signup-btn, .login-btn
  position: relative
  left: calc(100% - 88px)
</style>

<script>
import { mapActions } from "vuex";

export default {
  name: "PageIndex",
  data() {
    return {
      registData: {
        username: "",
        email: "",
        password: "",
        isShowPassword: false,
        confirmingPassword: "",
        isShowConfirmingPassword: false
      },
      loginData: {
        email: "",
        password: "",
        isShowPassword: false
      }
    };
  },
  methods: {
    ...mapActions(["registerUser", "loginUser"]),
    submitRegistrationForm() {
      if (this.isValidPassword(this.registData.password)) {
        this.registerUser(this.registData);
      }
    },
    submitLoginForm() {
      console.log("submitLoginForm");
      this.loginUser(this.loginData);
    },
    isValidPassword(password) {
      const isValidLength = password.length >= 8 && password.length <= 30;
      const isHaveUpperCase = password.match(/[A-Z]/g);
      const isHaveLowerCase = password.match(/[a-z]/g);
      const isHaveNumber = password.match(/[0-9]/g);
      const isHaveWhitespace = password.match(/\s/g);

      if (!isValidLength)
        alert("Password length should be have 8 - 30 characters");
      if (!isHaveUpperCase)
        alert("Password should contain uppercase character");
      if (!isHaveLowerCase)
        alert("Password should contain lowercase character");
      if (!isHaveNumber)
        alert("Password should contain 0 - 9 number character");
      if (isHaveWhitespace) alert("Password should not contain whitespace");
      return (
        isValidLength &&
        isHaveUpperCase &&
        isHaveLowerCase &&
        isHaveNumber &&
        !isHaveWhitespace
      );
    }
  }
};
</script>
