<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "App",
  methods: {
    ...mapActions(["handleAuthStateChanged"])
  },
  mounted() {
    console.log("App.vue mounted");
    this.handleAuthStateChanged();
  }
};
</script>
